body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--black);
  color: var(--grey);
  font-size: var(--fs-body);   /* 18px/16 = 1.125rem */
  line-height: 1.56; /* 28/18 = 1.55555556 */
}



