body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--black);
  color: var(--grey);
  font-size: var(--fs-18);   
  line-height: 1.56; /* 28/18 = 1.55555556 */
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}

/* tablet style */
@media (min-width: 37.5em) { /* 600px / 16 */
  .wrapper {
    width: calc(100% - 3.75rem);  /* 60px / 16 */
  }
}

