body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--black);
  color: var(--grey);
  font-size: var(--fs-18);   
  line-height: 1.56; /* 28/18 = 1.55555556 */
  padding-bottom: 30rem;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  font-size: var(--fs-40);
  font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem); 
  /* https://royalfig.github.io/fluid-typography-calculator/ */
  margin-bottom: 20px;
}

@media (min-width: 600px){
  h1 {
    margin-bottom: 60px;
  }
}

@media (min-width: 600px){
  h1 {
    margin-bottom: 43px;
  }
}

p {
  font-size: 1rem;
  font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem); 
  line-height: 1.5;
  color: var(--white);
}

a {
  transition: color var(--transition);
}

a.underline {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 1rem;
  line-height: 1.625; /* 26px/16 */
  letter-spacing: 2.29px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--grey);
  text-decoration: none;
  background-image: linear-gradient(to right, var(--green) 75%, var(--green) 75%);
  background-position: 0 2.1em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
}

a:hover {
  color: var(--green);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}

/* tablet style 600px */
@media (min-width: 37.5em) { /* 600px / 16 */
  .wrapper {
    width: calc(100% - 3.75rem);  /* 60px / 16 */
  }
}

/* header */
.header {
  margin-top: 20px;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}

.header__home {
  font-size: var(--fs-24);
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);  
  /* https://royalfig.github.io/fluid-typography-calculator/ */
  line-height: 1;
  color: var(--grey);
  text-decoration: none;
  flex: 1 0 100%;
}

.header__social svg {
  display: block;
}

.header__social > svg > path {
  transition: fill var(--transition);
}

.header__social:hover > svg > path {
  fill: var(--green);
}

@media (min-width: 37.5em) { /* 600px / 16 */
  .header__nav {
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 32px;
  }

  .header__home {
    flex: 1;
    margin-inline-end: auto;
  }
}

/* hero */
.hero {
  
}

.hero__wrapper {
  /* position: relative; */
}

.hero__image {
  position: absolute; /* overlap a picture on text + insert "position: relative on .hero_wrapper" */
  top: 0;
  left: 50%;
  translate: -50%; 
  /* margin-inline: auto; */ 
  display: block;
}

.hero__text {
  position: relative;
  text-align: center;
  margin-top: 335px; /* no overlapping test */
}

h1 > span {
  background-image: linear-gradient(to right, var(--green) 75%, var(--green) 75%);
  background-position: 0 1.18em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}

h1 > span::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--green);
  /* https://codepen.io/johndjameson/pen/NrZgQY?editors=1100 */
}

/*
"This function creates a green line flush with the "y", it could be used as a style defender compared to the original"

.underline {
  border-bottom: 2px solid var(--green);
  display: inline-block;
  line-height: 0.85;
}
*/

.hero__description {

}

.hero__contact {

}